@import 'src/utils/vars.scss';

.teacher {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 300px;
	padding: 1.5em;
	border-radius: 10px;
	box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
	font-size: 0.875em;
}

.avatar {
	margin: 0 auto;
	height: 200px;
}

.nick {
	font-weight: 600;
	font-size: 1.125em;
}

.tableCont {
	border: 1px solid gray;
	font-size: 0.8em;
	width: 100%;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out, opacity 0.2s ease-in-out;

	& .divider {
		color: $brandRed;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	& .language {
		text-transform: capitalize;
		font-weight: 600;
	}

	& .info {
		display: flex;
		flex-direction: column;
		border: 1px solid gray;
	}
}

.table {
	width: 100%;
}

.show {
	max-height: 500px;
	overflow-y: scroll;
	opacity: 1;

	// &::-webkit-scrollbar {
	// 	width: 20px;
	// }
}

.hide {
	max-height: 0;
	opacity: 0;
}

.priceMatch {
	background-color: bisque;
}

.button {
	margin-top: auto;
	border: 0;
	cursor: pointer;
	background-color: $gray2;
	transition: background-color 0.2s ease-in-out;
	border-radius: 6px;
	padding: 5px 0;

	&:hover {
		background-color: $gray1;
	}
}
