.teacher {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 300px;
	padding: 1.5em;
	border-radius: 10px;
	box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
	font-size: 0.875em;
}

.avatar {
	margin: 0 auto;
	height: 200px;
}

.nick {
	font-weight: 600;
	font-size: 1.125em;
}
